.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

@mixin center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

@mixin centerH() {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

@mixin centerV() {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}